<script>
    ;(function( $, window ) {

        var _defaults = {
            x      : 2, // number of tiles in x axis
            y      : 2, // number of tiles in y axis
            random : true, // animate tiles in random order
            speed  : 2000 // time to clear all times
        };

        /**
         * range Get an array of numbers within a range
         * @param min {number} Lowest number in array
         * @param max {number} Highest number in array
         * @param rand {bool} Shuffle array
         * @return {array}
         */
        function range( min, max, rand ) {
            var arr = ( new Array( ++max - min ) )
                .join('.').split('.')
                .map(function( v,i ){ return min + i })
            return rand
                ? arr.map(function( v ) { return [ Math.random(), v ] })
                    .sort().map(function( v ) { return v[ 1 ] })
                : arr
        }

        // Prevent css3 transitions on load
        $('body').addClass('css3-preload')
        $( window ).load(function(){ $('body').removeClass('css3-preload') })

        $.fn.sliced = function( options ) {

            var o = $.extend( {}, _defaults, options );

            return this.each(function() {

                var $container = $(this);

              /*---------------------------------
               * Make the tiles:
               ---------------------------------*/

                var width = $container.width(),
                    height = $container.height(),
                    $img = $container.find('img'),
                    n_tiles = o.x * o.y,
                    tiles = [], $tiles;

                for ( var i = 0; i < n_tiles; i++ ) {
                    tiles.push('<div class="tile" id="tile'+i+'"/>');
                }

                $tiles = $( tiles.join('') );

                // Hide original image and insert tiles in DOM
                $img.hide().after( $tiles );

                // Set background
                $tiles.css({
                    width: width / o.x,
                    height: height / o.y,
                    backgroundImage: 'url('+ $img.attr('src') +')'
                });
                $img.css({
                    width: "100%",
                    height: "100%"
                });
               /* $tiles.getElementsByTagName("img").style.width = "100%";
                $tiles.getElementsByTagName("img").style.height = "100%";*/

                // Adjust position
                $tiles.each(function() {
                    var pos = $(this).position();
                    $(this).css( 'backgroundPosition', -pos.left +'px '+ -pos.top +'px' );
                });

              /*---------------------------------
               * Animate the tiles:
               ---------------------------------*/

                var tilesArr = range( 0, n_tiles, o.random ),
                    tileSpeed = o.speed / n_tiles; // time to clear a single tile

                // Public method
                $container.on( 'animate', function() {

                    tilesArr.forEach(function( tile, i ) {
                        setTimeout(function(){
                            $tiles.eq( tile ).toggleClass( 'tile-animated' );
                        }, i * tileSpeed );
                    });

                });

            });

        };

    }( jQuery, window ));

    $(document).ready(function () {
        setTimeout(function () {
            $('.sliced').sliced({ x: 2, y: 2, speed: 1000 });

            $('#project-tag').click(function() {
                $('.sliced').trigger('animate');
            });
        },600);
    });
</script>


<div id="link-to">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%=link_to(projects_living_path(:state => "livingmaps", page: "index"), id: "project-tag", remote:true) do%>
            <div id="drone">
              <div class="header-text">
                <h1>
                  LivingMap
                </h1>
                <hr>
                </hr>
              </div>
              <div class="under-text">
                <p>Interface and drone to help harvest the forest</p>
              </div>
            </div>
        <%end%>
      </div>
      <div class="col-md-3">
        <%=link_to(projects_onebas_path(:state => "onebas", page: "index"), id: "project-tag", remote:true) do%>
            <div id="drone">
              <div class="header-text">
                <h1>
                  oneBAS.com
                </h1>
                <hr>
                </hr>
              </div>
              <div class="under-text">
                <p>Music application</p>
              </div>
            </div>
            </div>
        <%end%>
        </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%=link_to(projects_magazinos_path(:state => "magazinos", page: "index"), id: "project-tag", remote:true) do%>
          <div class="sliced">
            <%=image_tag("https://images.unsplash.com/photo-1415769177894-634a98172336?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=")%>
          </div>
      <%end%>
    </div>
    <div class="col-md-6">
      <%=link_to(projects_lag_path(:state => "googleglass"), remote:true) do%>
          <div id="drone">
            <div class="header-text">
              <h1>
                LAGG
              </h1>
              <hr>
              </hr>
            </div>
            <div class="under-text">
              <p>Location assistance for google glass</p>
            </div>
          </div>
          </div>
      <%end%>
      </div>
</div>