<script>

</script>

<div class="back-nav-project">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered info-content">
      <%if @render_state === "onebas" %>
          <%logger.info "inside ja here-----------------in le onebas"%>
          <%= render partial: 'layouts/project/info/render_one_bas', locals: {object: @info_object}%>
      <%elsif @render_state === "moodify"%>
          <%= render partial: 'layouts/project/info/render_one_bas', locals: {object: @info_object}%>
      <%elsif @render_state === "magazinos"%>
          <%= render partial: 'layouts/project/info/render_one_bas', locals: {object: @info_object}%>
      <%elsif @render_state === "thirty"%>
          <%= render partial: 'layouts/project/info/render_one_bas', locals: {object: @info_object}%>
      <%elsif @render_state === "livingmaps"%>
          <%= render partial: 'layouts/project/info/render_living', locals: {object: @info_object}%>
          <%logger.info "inside ja here-----------------in le living"%>
      <%elsif @render_state === "googleglass"%>
          <%logger.info "inside ja here-----------------in le google"%>
          <%#= render partial: 'layouts/project/info/render_google_glass', locals: {object: @info_object}%>
      <%end%>
    </div>
  </div>
</div>
<%= render partial: 'layouts/project/info/render_bottom_nav', locals: {object: @info_object}%>
